
.user-info
 {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc!important;
    border-radius: 16px!important;
    margin: 0 auto;
    min-height: 20vh;
    vertical-align: top;
    padding-left: 1%;
}

.title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.user-info p {
    display: inline-block;
}

.pool {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.console-button {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
}